{% extends "admin/base.html" %}



{% block title %}{{ title }} | Pitt side admin{% endblock %}

 {% block content_title %}{% if title %}<h1>Pitt side administration</h1>{% endif %}{% endblock %}

{% block extrastyle %}
<style>
    #header{
    background-color: #111150;;
    }
    <!--<link rel="icon" type="image/png" href="https://www.w3schools.com/css/trolltunga.jpg" />-->

    .button {
    background-color: #999999; /* Green */
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;


    font-size: 11px;
}

.button1 {
    background-color: #999999;
    color: white;
    border-radius: 16px;
    width:60px;
    height:26px;
     padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button1:hover {
    background-color: #417690;
    color: white;
}

</style>
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block branding %}
 <!--<link rel="icon" type="image/png" href="http://pitt.edu/~hkc6/pics/upitt-logo.png" />-->
<img src="/static/image/upitt-logo.png" style="display:inline-block;width:50px;vertical-align:middle;" />
<h1 id="site-name" style ="display:inline-block;vertical-align:middle;"><a href="{% url 'admin:index' %}">Pitt Activity Finder administration</a></h1>
{% endblock %}

{% block userlinks %}
    <a href="{{ site_url }}">View site</a> /

    <a href="http://localhost:8000/admin/reports/">Reports</a> /

    <!--<a href="/reports">Reports</a> /-->

    <a href="{% url 'admin:password_change' %}">Change password</a> /
    <a href="{% url 'admin:logout' %}">Log out</a>
{% endblock %}

{% block nav-global %}
<!--<a href="{% url 'admin:password_change' %}">Change password</a>-->
{% endblock %}

<!--{% block content %}-->
<!--{% endblock %}-->