{% load static %}
<html>
<head>
    <title>University of Pittsburgh</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static "/css/activity_finder.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "/css/map.css" %}" />
    <!--<link rel="stylesheet" type="text/css" href="../static/css/style9.css" />-->
    <!-- jquery -->
    <script type="text/javascript" src="{% static "/js/jquery-1.11.3.min.js" %}" ></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">-->
    <script src="{% static "/js/bootstrap-checkbox.min.js" %}"></script>

    <!-- bootstrap for select -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>-->


    <!-- dataTable -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>



</head>
<body>
<div>
    <div>
        <div id="header">
            <img id="header-logo" src="{% static "/image/pitt-logo-bluebkg.gif" %}" alt="University of Pittsburgh" />
            <!--<h1 class="title-words" color="#E7EA9A">University of Pittsburgh</h1>-->
        </div>
    </div>
    <div>
        <div id="filters">
            <div class="filter">
                Search:<br><input type="text" class="search form-control form-control-sm" id="searchkeywords" onkeyup="searchKeywords()">
            </div>
            <div class="filter" id="past-activities">
                Hide past activities?<br><input type="checkbox" id="happen_filter" style="display:none;" data-group-cls="btn-group-sm" data-reverse>
            </div>
            <div class="filter">
                Activity Type:<br>
                <select id="selectActivity" class="form-control form-control-sm" onchange="searchActivityType()">
                    <option value="">All</option>
                    {% for act in activitytypes %}
                    <!--<div class="item">-->
                        <option class="item" value={{ act.name }}>{{ act.name }}</option>
                    <!--</div>-->
                    {% endfor %}
                </select>
            </div>
            <div class="filter">
                Sort by:<br>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary btn-sm active">
                        <input type="radio" id="sortbyname" name="sortbyname"> Name
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="radio" id="sortbystartdate" name="sortbystartdate"> Start date
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="radio" id="sortbyenddate" name="sortbyenddate"> End date
                    </label>
                </div>
            </div>

            <!--Location:
            <select id="selectLocation" onchange="searchLocation()">
                <option value="">ALL</option>
                {% for act in locations %}
                <div class="item">
                    <option value={{ act.name }}>{{ act.name }}</option>
                </div>
                {% endfor %}
            </select>-->

            <div id="locations-filter">
                <div class="location-filter">
                    State:<br>
                    <select id="selectState" class="form-control form-control-sm" onchange="searchState(this.value)">
                        <option value="">All</option>
                    </select>
                </div>
                <img class="arrow-icon" src="{% static "/image/arrow-right.png" %}" />
                <div class="location-filter">
                    County:<br>
                    <select id="selectCounty" class="form-control form-control-sm" onchange="searchCounty(this.value)">
                        <option value="">All</option>
                    </select>
                </div>
                <img class="arrow-icon" src="{% static "/image/arrow-right.png" %}" />
                <div class="location-filter">
                    City:<br>
                    <select id="selectCity" class="form-control form-control-sm" onchange="searchCity(this.value)">
                        <option value="">All</option>
                    </select>
                </div>
                <img class="arrow-icon" src="{% static "/image/arrow-right.png" %}" />
                <div class="location-filter">
                    Neighborhood:<br>
                    <select id="selectNeighborhood" class="form-control form-control-sm"  onchange="searchNeighborhood(this.value)">
                        <option value="">All</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div id="content-div">
        <div id="acts-table"> <!-- class="col-md-3">-->
            <table id="table_id" class="display">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for act in activities %}
                <tr>
                    <td>
                        <div class="item">
                            <span class="title">{{ act.name }}</span>
                            <p class="description">
                                <br>
                                <i>{{ act.description }}</i><br><br>
                                <span class="subtitle">Location(s):</span>  {% for location in act.locations.all %}
                                            {{ location.name }} {% if not forloop.last %},{% endif %}
                                         {% endfor %}<br>
                                <span class="subtitle">Category:</span>  {{ act.activitytype }}<br>
                                <span class="subtitle">Start date:</span>  {{ act.start_date }}<br>
                                <span class="subtitle">End date:</span>  {{ act.end_date }}<br>
                            </p>
                            <input type="hidden" name="locations" value="{% for location in act.locations.all %}{{ location.idLocation}};{% endfor %}">

                        </div>

                    </td>
                    <td>
                        {{ act.name }}
                    </td>
                    <td>
                        {{ act.start_date }}
                    </td>
                    <td>
                        {{ act.end_date }}
                    </td>
                    <td>
                        {{ act.activitytype }}
                    </td>
                    <td>
                        {{ act.happening }}
                    </td>
                    <td>
                        {% for location in act.locations.all %}
                        {{ location.name }} {% if not forloop.last %};{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for location in act.locations.all %}
                        {{ location.state }} {% if not forloop.last %};{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for location in act.locations.all %}
                        {{ location.county }} {% if not forloop.last %};{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for location in act.locations.all %}
                        {{ location.city }} {% if not forloop.last %};{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for location in act.locations.all %}
                        {{ location.neighborhood }} {% if not forloop.last %};{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="map-div"><!--class="col-md-9">-->
            <div id="map"></div>
        </div>
    </div>
</div>

<script>

          var markers_array = new Array();
          var states_array = new Array();
          var counties_array = new Array();
          var cities_array = new Array();
          var neighborhoods_array = new Array();
          var states_data_array = new Array();
          var counties_data_array = new Array();
          var cities_data_array = new Array();
          var neighborhoods_data_array = new Array();
          var map;
          var state_polygon,county_polygon,city_polygon,neighborhood_polygon;

          $('.item').on("click", function () {
                 var description = $(this).find(".description");
                 if(!$(this).hasClass("active")){
                     description.slideDown(100);
                     $(this).attr("class","item active");
                     $('.description').not(description).slideUp(100);

                     var markers_ids_str = $(this).find("input[name='locations']").val();
                     markers_ids_str = markers_ids_str.substring(0,markers_ids_str.length-1);
                     var markers_ids = markers_ids_str.split(";");

                     var bounds = new google.maps.LatLngBounds();
                     for (var i = 0; i < markers_ids.length; i++) {
                        bounds.extend(markers_array[markers_ids[i]].getPosition());
                     }

                     google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
                        this.setZoom(map.getZoom()-1);
                        if (this.getZoom() > 15) {
                            this.setZoom(15);
                        }
                     });

                     map.fitBounds(bounds);
                     highlightMarkers(markers_ids);
                 }else{
                    description.slideUp(100);
                    $(this).attr("class","item");
                    notHighlightMarkers();
                 }

          });
          <!--manipulate the datatable-->
          $(document).ready(
              function () {
                    $('#past-activities input').checkboxpicker();
                    $('#past-activities input').on('change', function() {
                        filterHappen();
                    });
                    $('#table_id').DataTable({
                        "paging": false,
                        "sDom": 'trp',
                        "columns": [
                            { "visible": true, orderable:false},
                            { "visible": false },//name
                            { "visible": false, "sType":"date" },//start date
                            { "visible": false, "sType":"date" },//end date
                            { "visible": false },//activity type
                            { "visible": false },//happening?
                            { "visible": false },
                            { "visible": false },
                            { "visible": false },
                            { "visible": false },
                            { "visible": false }
                         ],
                    });
                    {% for act in activities %}
                        {% for location in act.locations.all %}
                            if (states_array.indexOf("{{location.state}}")==-1){
                                states_array.push("{{location.state}}");
                                $("#selectState").append('<option value="{{location.state}}">{{location.state}}</option>');
                                states_data_array["{{location.state}}"]={counties:[]};
                            }
                            if (counties_array.indexOf("{{location.county}}")==-1){
                                counties_array.push("{{location.county}}");
                                $("#selectCounty").append('<option value="{{location.county}}">{{location.county}}</option>');
                                counties_data_array["{{location.county}}"]={state: "{{location.state}}"};

                                if(states_data_array["{{location.state}}"].counties== undefined){
                                    states_data_array["{{location.state}}"].counties = ["{{location.county}}"];
                                }else{
                                    states_data_array["{{location.state}}"].counties.push("{{location.county}}");
                                }

                            }
                            if (cities_array.indexOf("{{location.city}}")==-1){
                                cities_array.push("{{location.city}}");
                                $("#selectCity").append('<option value="{{location.city}}">{{location.city}}</option>');
                                cities_data_array["{{location.city}}"]={county: "{{location.county}}", state: "{{location.state}}"};

                                if(cities_data_array["{{location.city}}"].neighborhoods == undefined){
                                    cities_data_array["{{location.city}}"].neighborhoods = [];
                                }

                                if(counties_data_array["{{location.county}}"].cities== undefined){
                                    counties_data_array["{{location.county}}"].cities = ["{{location.city}}"];
                                }else{
                                    counties_data_array["{{location.county}}"].cities.push("{{location.city}}");
                                }
                            }
                            if (neighborhoods_array.indexOf("{{location.neighborhood}}")==-1){
                                neighborhoods_array.push("{{location.neighborhood}}");
                                $("#selectNeighborhood").append('<option value="{{location.neighborhood}}">{{location.neighborhood}}</option>');
                                neighborhoods_data_array["{{location.neighborhood}}"]={city: "{{location.city}}", county: "{{location.county}}", state: "{{location.state}}"};
                                console.log( cities_data_array["{{location.city}}"]);

                                if(cities_data_array["{{location.city}}"].neighborhoods == undefined){
                                    cities_data_array["{{location.city}}"].neighborhoods = ["{{location.neighborhood}}"];
                                }else{
                                    cities_data_array["{{location.city}}"].neighborhoods.push("{{location.neighborhood}}");
                                }
                            }
                        {% endfor %}
                    {% endfor %}
                    //console.log(states_data_array);
                    //console.log(counties_data_array);
                    //console.log(cities_data_array);

                    var nameFlag=false;
                    var startDateFlag=false;
                    var endDateFlag=false;
                    $('.btn').click(function(){
                        var sortby = $(this).find('input:radio').attr('name');
                        if(sortby=="sortbyname"){
                            if(nameFlag)
                           {
                                $('#table_id').dataTable().fnSort([[1, 'asc']]);
                           }
                           else
                           {
                                $('#table_id').dataTable().fnSort([[1, 'des']]);
                           }
                           nameFlag=!nameFlag;
                        }
                        if(sortby=="sortbystartdate"){
                            if(startDateFlag)
                           {
                                $('#table_id').dataTable().fnSort([[2, 'asc']]);
                           }
                           else
                           {
                                $('#table_id').dataTable().fnSort([[2, 'des']]);
                           }
                           startDateFlag=!startDateFlag;
                        }
                        if(sortby=="sortbyenddate"){
                            if(endDateFlag)
                           {
                                $('#table_id').dataTable().fnSort([[3, 'asc']]);
                           }
                           else
                           {
                                $('#table_id').dataTable().fnSort([[3, 'des']]);
                           }
                           endDateFlag=!endDateFlag;
                        }
                    });

              }
          );
          /*var nameFlag=false;
          $('input:radio[name="sortbyname"]').click(function(){
               if(nameFlag)
               {
                    $('#table_id').dataTable().fnSort([[1, 'asc']]);
               }
               else
               {
                    $('#table_id').dataTable().fnSort([[1, 'des']]);
               }
               nameFlag=!nameFlag;
          });
          var startDateFlag=false;
          $('input:radio[name="sortbystartdate"]').click(function(){
               if(startDateFlag)
               {
                    $('#table_id').dataTable().fnSort([[0, 'asc']]);
               }
               else
               {
                    $('#table_id').dataTable().fnSort([[0, 'des']]);
               }
               startDateFlag=!startDateFlag;
          });
          var endDateFlag=false;
          $('input:radio[name="sortbyenddate"]').click(function(){
               if(endDateFlag)
               {
                    $('#table_id').dataTable().fnSort([[3, 'asc']]);
               }
               else
               {
                    $('#table_id').dataTable().fnSort([[3, 'des']]);
               }
               endDateFlag=!endDateFlag;
          });*/
          function searchLocation()
          {
                var obj=document.getElementById("selectLocation");
                var index = obj.selectedIndex;
                var text = obj.options[index].text;
                var value = obj.options[index].value;
                $('#table_id').DataTable().column(3).search(value).draw();
          }
          function searchActivityType()
          {
                var obj=document.getElementById("selectActivity");
                var index = obj.selectedIndex;
                var text = obj.options[index].text;
                var value = obj.options[index].value;
                $('#table_id').DataTable().column(4).search(value).draw();
          }
          function searchKeywords()
          {
                var value=document.getElementById("searchkeywords").value;
                $('#table_id').DataTable().search(value).draw();
          }
          function filterHappen()
          {
                var obj=document.getElementById("happen_filter");
                $('#table_id').DataTable().draw();

          }
          function searchState(option){
            if(state_polygon){
                state_polygon.setMap(null);
            }
            if(county_polygon){
                county_polygon.setMap(null);
            }
            if(city_polygon){
                city_polygon.setMap(null);
            }
            if(neighborhood_polygon){
                neighborhood_polygon.setMap(null);
            }
            if(option!=""){//$(option).val()!=""){
                var state = option;//$(option).val();
                var lati, long, coord, final_coord;
                var jqxhr = $.getJSON( "https://nominatim.openstreetmap.org/search.php?q="+state+"&polygon_geojson=1&format=json", function(data) {
                  if(data.length>0){
                      var state_data = data[0];
                      var paths = [];
                      var state_coords = state_data.geojson.coordinates[0];
                      var polygon_coords = new Array();
                      for (var i = 0; i < state_coords.length; i++) {
                        coord = state_coords[i];
                        lati = parseFloat(coord[1]);
                        long = parseFloat(coord[0]);
                        final_coord = {lat: lati,lng: long};
                        polygon_coords.push({lat:lati,lng:long});
                      }

                       // Construct the polygon.
                       state_polygon = new google.maps.Polygon({
                          paths: polygon_coords,
                          strokeColor: '#cdb87d',
                          strokeOpacity: 0.8,
                          strokeWeight: 1.5,
                          fillColor: '#cdb87d',
                          fillOpacity: 0.3
                        });

                        state_polygon.setMap(map);

                        map.fitBounds(state_polygon.getBounds());
                        //Filter counties, cities and neighborhoods according the state that was selected by the user
                        var cities = [];
                        var neighborhoods = [];
                        $('#selectCounty option').each(function(index,value){
                            var county = $(value).val().toString();
                            if(county!="" && states_data_array[state].counties.indexOf(county)==-1){
                                $(value).hide();
                            }else{
                                $(value).show();
                                console.log(county);
                                if (county!=""){
                                    var county_cities = $('#selectCity option');
                                    for (var i=0;i<county_cities.length;i++){
                                        var city = $(county_cities[i]).val().toString();
                                        if (city=="" || counties_data_array[county].cities.indexOf(city)!=-1){
                                            cities.push(city);
                                            var city_neighborhoods = $('#selectNeighborhood option');
                                            console.log(city_neighborhoods);
                                            if(city!=""){
                                                for (var j=0;j<city_neighborhoods.length;j++){
                                                    var neighborhood = $(city_neighborhoods[j]).val().toString();
                                                    console.log(cities_data_array[city]);
                                                    if (neighborhood=="" || cities_data_array[city].neighborhoods.indexOf(neighborhood)!=-1){
                                                        neighborhoods.push(neighborhood);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        });

                        //Show the cities that belong to the state selected
                        $('#selectCity option').each(function(){
                            var city = $(this).val().toString();
                            if(city!="" && cities.indexOf(city)==-1){
                                $(this).hide();
                            }else{
                                $(this).show();
                            }
                        });

                        //Show the neighborhoods that belong to the state selected
                        $('#selectNeighborhood option').each(function(){
                            var neighborhood = $(this).val().toString();
                            console.log(neighborhood);
                            if(neighborhood!="" && neighborhoods.indexOf(neighborhood)==-1){
                                $(this).hide();
                            }else{
                                $(this).show();
                            }
                        });


                        $('#selectCounty option[value=""]').prop('selected', 'selected');
                        $('#selectCity option[value=""]').prop('selected', 'selected');
                        $('#selectNeighborhood option[value=""]').prop('selected', 'selected');

                        //Filter list of activities according to the state they are present
                        //Clear others filters in case they were applied before
                        $('#table_id').DataTable().column(10).search("").draw();
                        $('#table_id').DataTable().column(9).search("").draw();
                        $('#table_id').DataTable().column(8).search("").draw();
                        $('#table_id').DataTable().column(7).search(state).draw();

                  }
                })
                  .fail(function() {
                    console.log( "error" );
                  });
             }else{
                $("#selectCounty option").show();
                $("#selectCity option").show();
                $("#selectNeighborhood option").show();

                $('#selectCounty option[value=""]').prop('selected', 'selected');
                $('#selectCity option[value=""]').prop('selected', 'selected');
                $('#selectNeighborhood option[value=""]').prop('selected', 'selected');

                var bounds = new google.maps.LatLngBounds();
                 for (var i = 0; i < markers_array.length; i++) {
                    if(markers_array[i]){
                        bounds.extend(markers_array[i].getPosition());
                    }
                 }

                 google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
                    this.setZoom(map.getZoom()-1);
                    if (this.getZoom() > 15) {
                        this.setZoom(15);
                    }
                 });

                 map.fitBounds(bounds);


                //Clear others filters in case they were applied before
                $('#table_id').DataTable().column(10).search("").draw();
                $('#table_id').DataTable().column(9).search("").draw();
                $('#table_id').DataTable().column(8).search("").draw();
                //Show all list of activities
                $('#table_id').DataTable().column(7).search("").draw();
             }



          }
          function searchCounty(option){

            if(state_polygon){
                state_polygon.setMap(null);
            }
            if(county_polygon){
                county_polygon.setMap(null);
            }
            if(city_polygon){
                city_polygon.setMap(null);
            }
            if(neighborhood_polygon){
                neighborhood_polygon.setMap(null);
            }
            if(option!=""){//$(option).val()!=""){

                var county =option;//$(option).val();
                var lati, long, coord, final_coord;
                var jqxhr = $.getJSON( "https://nominatim.openstreetmap.org/search.php?q="+county+" County&polygon_geojson=1&format=json", function(data) {
                  if(data.length>0){
                      var county_data = data[0];
                      var paths = [];
                      var county_coords = county_data.geojson.coordinates[0];
                      var polygon_coords = new Array();
                      for (var i = 0; i < county_coords.length; i++) {
                        coord = county_coords[i];
                        lati = parseFloat(coord[1]);
                        long = parseFloat(coord[0]);
                        final_coord = {lat: lati,lng: long};
                        polygon_coords.push({lat:lati,lng:long});
                      }

                       // Construct the polygon.
                       county_polygon = new google.maps.Polygon({
                          paths: polygon_coords,
                          strokeColor: '#cdb87d',
                          strokeOpacity: 0.8,
                          strokeWeight: 1.5,
                          fillColor: '#cdb87d',
                          fillOpacity: 0.3
                        });

                        county_polygon.setMap(map);

                        map.fitBounds(county_polygon.getBounds());

                        var state = counties_data_array[option].state;//$(option).val()].state;
                        $('#selectState option[value="'+state+'"]').prop('selected', 'selected');
                        //Populates the list of cities according to the county that was selected by the user
                        $('#selectCity option').each(function(index,value){
                            var city = $(value).val().toString();
                            if (city!="" && counties_data_array[county].cities.indexOf(city)==-1){
                                $(value).hide();
                            }else{
                                $(value).show();
                                if(city!=""){
                                    console.log(city);
                                    var city_neighborhoods = $('#selectNeighborhood option');
                                    for (var i=0;i<city_neighborhoods.length;i++){
                                        var neighborhood = $(city_neighborhoods[i]).val().toString();
                                        if (neighborhood!="" && cities_data_array[city].neighborhoods.indexOf(neighborhood)==-1){
                                            $(city_neighborhoods[i]).hide();
                                        }else{
                                            $(city_neighborhoods[i]).show();
                                        }
                                    }
                                }
                            }
                        });
                        $('#selectCity option[value=""]').prop('selected', 'selected');
                        $('#selectNeighborhood option[value=""]').prop('selected', 'selected');

                        //Filter list of activities according to the county they are present
                        //Clear others filters in case they were applied before
                        $('#table_id').DataTable().column(10).search("").draw();
                        $('#table_id').DataTable().column(9).search("").draw();
                        $('#table_id').DataTable().column(8).search(county).draw();

                  }
                })
                  .fail(function() {
                    console.log( "error" );
                  });
             }else{
                var selected_state = $('#selectState').find(":selected").val();
                if(selected_state!=""){
                    searchState(selected_state);
                }
             }


          }
          function searchCity(option){
            if(state_polygon){
                state_polygon.setMap(null);
            }
            if(county_polygon){
                county_polygon.setMap(null);
            }
            if(city_polygon){
                city_polygon.setMap(null);
            }
            if(neighborhood_polygon){
                neighborhood_polygon.setMap(null);
            }
            if(option!=""){//(option).val()!=""){
                var city = option;//$(option).val();
                var lati, long, coord, final_coord;
                var jqxhr = $.getJSON( "https://nominatim.openstreetmap.org/search.php?q="+city+","+cities_data_array[city].county+","+cities_data_array[city].state+"&polygon_geojson=1&format=json", function(data) {
                  if(data.length>0){
                      var city_data = data[0];
                      var paths = [];
                      var city_coords = city_data.geojson.coordinates[0];
                      var polygon_coords = new Array();
                      for (var i = 0; i < city_coords.length; i++) {
                        coord = city_coords[i];
                        lati = parseFloat(coord[1]);
                        long = parseFloat(coord[0]);
                        final_coord = {lat: lati,lng: long};
                        polygon_coords.push({lat:lati,lng:long});
                      }

                       // Construct the polygon.
                       city_polygon = new google.maps.Polygon({
                          paths: polygon_coords,
                          strokeColor: '#cdb87d',
                          strokeOpacity: 0.8,
                          strokeWeight: 1.5,
                          fillColor: '#cdb87d',
                          fillOpacity: 0.3
                        });

                        city_polygon.setMap(map);

                        map.fitBounds(city_polygon.getBounds());

                        var state = cities_data_array[option].state;//$(option).val()].state;
                        $("#selectCounty option").each(function(){
                            var county = $(this).val().toString();
                            console.log(county);
                            if(county!="" && states_data_array[state].counties.indexOf(county)==-1){
                                $(this).hide();
                            }else{
                                $(this).show();
                            }
                        });

                        var county = cities_data_array[option].county;//$(option).val()].county;

                        $('#selectState option[value="'+state+'"]').prop('selected', 'selected');
                        $('#selectCounty option[value="'+county+'"]').prop('selected', 'selected');
                        $('#selectNeighborhood option').each(function(){
                            var neighborhood = $(this).val().toString();
                            if (neighborhood!="" && cities_data_array[city].neighborhoods.indexOf(neighborhood)==-1){
                                $(this).hide();
                            }else{
                                $(this).show();
                            }
                        });
                        $('#selectNeighborhood option[value=""]').prop('selected', 'selected');


                        //Clear others filters in case they were applied before
                        $('#table_id').DataTable().column(10).search("").draw();
                        //Filter list of activities according to the city they are present
                        $('#table_id').DataTable().column(9).search(city).draw();

                  }
                })
                  .fail(function() {
                    console.log( "error" );
                  });
             }else{
                var selected_county = $('#selectCounty').find(":selected").val();
                if(selected_county!=""){
                    searchCounty(selected_county);
                }
             }
          }

          function searchNeighborhood(option){
            if(state_polygon){
                state_polygon.setMap(null);
            }
            if(county_polygon){
                county_polygon.setMap(null);
            }
            if(city_polygon){
                city_polygon.setMap(null);
            }
            if(neighborhood_polygon){
                neighborhood_polygon.setMap(null);
            }
            if(option!=""){//$(option).val()!=""){
                var neighborhood = option;//$(option).val();
                if(neighborhood){
                    neighborhood = neighborhood + "," + neighborhoods_data_array[neighborhood].city + "," + neighborhoods_data_array[neighborhood].county;
                }
                var lati, long, coord, final_coord;
                var jqxhr = $.getJSON( "https://nominatim.openstreetmap.org/search.php?q="+neighborhood+"&polygon_geojson=1&format=json", function(data) {
                  if(data.length>0){
                      var neighborhood_data = data[0];
                      var paths = [];
                      var neighborhood_coords = neighborhood_data.geojson.coordinates[0];
                      var polygon_coords = new Array();
                      for (var i = 0; i < neighborhood_coords.length; i++) {
                        coord = neighborhood_coords[i];
                        lati = parseFloat(coord[1]);
                        long = parseFloat(coord[0]);
                        final_coord = {lat: lati,lng: long};
                        polygon_coords.push({lat:lati,lng:long});
                      }

                       // Construct the polygon.
                       neighborhood_polygon = new google.maps.Polygon({
                          paths: polygon_coords,
                          strokeColor: '#cdb87d',
                          strokeOpacity: 0.8,
                          strokeWeight: 1.5,
                          fillColor: '#cdb87d',
                          fillOpacity: 0.3
                        });

                        neighborhood_polygon.setMap(map);

                        map.fitBounds(neighborhood_polygon.getBounds());

                        //Filter the counties according to the ones that belong to the respective state
                        var state = neighborhoods_data_array[option].state;//$(option).val()].state;
                        $("#selectCounty option").each(function(){
                            var county = $(this).val().toString();
                            if(county!="" && states_data_array[state].counties.indexOf(county)==-1){
                                $(this).hide();
                            }else{
                                $(this).show();
                            }
                        });

                        //Filter the cities according to the ones that belong to the respective county
                        var county = neighborhoods_data_array[option].county;//$(option).val()].county;
                        $("#selectCity option").each(function(){
                            var city = $(this).val().toString();
                            if(city!="" && counties_data_array[county].cities.indexOf(city)==-1){
                                $(this).hide();
                            }else{
                                $(this).show();
                            }
                        });

                        var city = neighborhoods_data_array[option].city;//$(option).val()].city;

                        $('#selectState option[value="'+state+'"]').prop('selected', 'selected');
                        $('#selectCounty option[value="'+county+'"]').prop('selected', 'selected');
                        $('#selectCity option[value="'+city+'"]').prop('selected', 'selected');

                        //Filter list of activities according to the neighborhood they are present
                        $('#table_id').DataTable().column(10).search(option).draw();

                  }
                })
                  .fail(function() {
                    console.log( "error" );
                  });
             }else{
                var selected_city = $('#selectCity').find(":selected").val();
                if(selected_city!=""){
                    searchCity(selected_city);
                }
             }
          }

          $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {
                    var dataDate=new Date(data[3]);//end date
                    if(dataDate=="Invalid Date")
                    {
                        return true;
                    }
                    var curDate=new Date();
                    //if(document.getElementById("happen_filter").checked)
                    console.log($('#past-activities input').prop("checked"));
                    if($('#past-activities input').prop("checked"))
                    {
                        if(curDate<=dataDate)
                        {
                            return true;
                        }
                        return false;
                    }
                    else
                    {
                        return true;
                    }
                }
          );

    function initMap(){
        if (!google.maps.Polygon.prototype.getBounds) {
            google.maps.Polygon.prototype.getBounds=function(){
                var bounds = new google.maps.LatLngBounds()
                this.getPath().forEach(function(element,index){bounds.extend(element)})
                return bounds
            }

        }
        var mapProp= {
            center:new google.maps.LatLng(40.444269,-79.953260),
            zoom:5,
        };

        var info_window = new google.maps.InfoWindow();

        map=new google.maps.Map(document.getElementById("map"),mapProp);
        {% for loc in locations %}
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{loc.position}}),
                map: map,
                title: "{{loc.name}}",
                id: "{{loc.idLocation}}",
                mapTypeId: 'terrain'
            });
            makeInfoWindowEvent(map, info_window, "{{loc.name}}<br>{{loc.address}}", marker);
            markers_array[marker["id"]]=marker;
        {% endfor %}


        google.maps.event.trigger(map, 'resize');

    };

    function notHighlightMarkers(){
        for (var i=0;i<markers_array.length;i++){
            if(markers_array[i]){
                markers_array[i].setAnimation(null);
                markers_array[i].setOpacity(1.0);
            }
        }
    }

    function highlightMarkers(markers_ids_array){
        //Remove the markers animation in case a set of them were previously selected
         /*for (var i=0;i<markers_array.length;i++){
            if(markers_array[i]){
                markers_array[i].setAnimation(null);
                markers_array[i].setOpacity(1.0);
            }
        }*/
        for (var j=0;j<markers_ids_array.length;j++){
            var index = markers_ids_array[j];
            if(markers_array[index]){
                if (markers_array[index].getAnimation() != google.maps.Animation.BOUNCE) {
                    markers_array[index].setAnimation(google.maps.Animation.BOUNCE);
                    markers_array[index].setOpacity(1.0);
                }else {
                    markers_array[index].setAnimation(null);
                    markers_array[index].setOpacity(0.3);
                }
            }
        }
    }

    function makeInfoWindowEvent(map, info_window, content_string, marker) {
      google.maps.event.addListener(marker, 'click', function() {
        info_window.setContent(content_string);
        info_window.open(map, marker);
      });
    }


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPqXhtFS9Fu0-sCptEPyrl7nknrVGQD2g&callback=initMap"></script>
</body>
</html>