/*
+-------------------------------------------------------------------------+
Title:		Base Styles
Author:		Randy D. Oest II, Lindsay Clark, G. Jason Head  
			University Marketing Communications
Version:	Mar2009
Copyright:	2009 - University of Pittsburgh
+-------------------------------------------------------------------------+


/* Basic Styles
----------------------------------------------------------------------- */
body {
	background: #8f8f8f;
	color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	line-height: 1.4em;
	margin: 0; padding: 0;
	text-align: center;}
.clear { clear:both; }

a:link, a:visited { color:#0066cc; text-decoration:none; }
a:hover { text-decoration:underline; }

img.right { float:right; margin-left:10px; margin-bottom:10px;}
img.left { float:left; margin-right:10px; margin-bottom:10px;}

hr { background:none; border-top:1px dotted #999966; padding:0; margin:0; }


/* banner link color */ 		#pitt-links a { color:#F4F4D6;} 
/* banner li color (pipes) */ 	#pitt-links li { color:#979797;} 
/* banner border */ 			#pitt-header { border-bottom:1px solid #3d4c91; } 


#pitt-header.white  { background: url(../images/shared/pitt-logo-whitebkg.gif) left top no-repeat #fff; }
#pitt-header.gold   { background: url(../images/shared/pitt-logo-goldbkg.gif) left top no-repeat #cccc99; }
#pitt-header.blue   { background: url(../images/shared/pitt-logo-bluebkg.gif) left top no-repeat #111150; }
#pitt-header {
		height: 49px; width: 100%;
		margin: 0;
		position: relative; 
		text-indent: -1000em;
	}	
	#p-link {
		position: absolute; top: 0; left: 0;
		height: 49px; width: 100%;
	}
#pitt-links { list-style-type: none; }
#pitt-links li {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:9px; 
	letter-spacing:.03em;
	position: absolute; top:17px; 
	text-transform:uppercase;
	}
#p-home {right:10px;  }
#pitt-links a {
	display:inline-block;
	font-size:8px;
	margin-right:2px; margin-left:2px; 
	}



/* Container
----------------------------------------------------------------------- */
#main-container {
	background:#fff;
	margin:0 auto;
	position:relative;
	padding-bottom:3em;
	text-align:left;
	width:960px;
}

/* Header
----------------------------------------------------------------------- */
#header { 
	background:url(../images/shared/header-image.jpg) no-repeat top left;
	border-bottom:1px solid #3d4c91;
	height:229px; /* height of image */
	margin:0px auto;
	position: relative;
	width:960px; /* width of image */
}
#header h1 {
		background:url(../images/shared/header-h1-image.jpg) top right no-repeat;
		height: 88px; width: 281px;
		margin: 0;
		position: relative; top:52px; left:52px;
		text-indent: -1000em;
	}
	#header h1 a:link, #header h1 a {
		border: none;
		position: absolute; top: 0; left: 0;
		height: 88px; width: 281px;
	}
#header-callout {
	background:#badeff;
	position:absolute; top:20px; left:750px;
	padding:1em;
	width:150px;
}

/* Layout options (container, nav, sidebar)
----------------------------------------------------------------------- */
	/* Total width: 960px */
#content { 	margin:26px 26px; padding:20px; width:587px;}
#sidebar { 	margin:0; margin-right:26px; padding:10px; width:233px; } /* right column */
#nav { 		margin:0; margin-bottom:26px; width:150px; } /* left column */
			/* nav-horizontal.css overwrites #nav */
			
			
/* Content
----------------------------------------------------------------------- */
#wrapper {
	margin:0 auto;
	width:960px;
}
#content {
	background:#f4f4d6;
	color:#333333;
	float:left;
	position:relative;
}
#content h2, #content h3, #content h4, #content h5 { padding-top:10px;}
#content h2 { margin: 0 0 20px; font-size: 24px; line-height: 1.1em; color: #111150;}
#content h3 { margin: 15px 0 10px; font-size: 18px;	color: #111150;}
#content h4 { margin: 15px 0 10px; font-size: 14px;	color: #111150;}
#content p { margin: 0 0 10px; line-height:22px; }

#content table { margin: 10px 0;}
#content th { background: #cccc99; padding: 5px; font-weight: bold;}
#content td { padding: 5px; border-top: 1px solid #8da8bd;}

#content ul { margin: 10px 0 0 40px; list-style:disc; }	
#content ol { margin: 10px 0 0 40px; list-style: decimal;}
#content li { line-height: 20px; padding-bottom: 15px; }
#content ul li { padding: 0 0 6px 0; margin: 0 4px;}
#content ol ul li {	padding: 0 0 6px 0; margin: 0 4px 0 0; }
#content ol li { padding: 0 0 6px 0; margin: 0;	}
	

/*BlockQuotes*/
blockquote.indented-line, blockquote.largequote {
font-size:120%; line-height:135%; font-style:italic; color: #666666;}

blockquote.indented-line {
	padding: 10px 15px 10px 15px; margin-left: 10px; margin-bottom: 30px;
	border-left: 10px solid #111150;
	}
	
blockquote.largequote {
	padding: 10px 15px 10px 45px; margin-left: 0px; margin-bottom: 30px;
	background: url(../images/shared/quote.jpg) top left no-repeat;
	}

/* Sidebar
----------------------------------------------------------------------- */
#sidebar {
	background:#e6edf3;
	float:right;
}

/* Footer
----------------------------------------------------------------------- */
#footer {
	color: #fff;
	clear: both;
	font-size: 11px;
	line-height:normal;
	margin: 10px auto; margin-bottom:60px;
	text-align: left;
	width: 960px;
}
#footer p { line-height:normal; }

#footer a {color: #fff; text-decoration:underline;}
#footer a:hover {text-decoration: underline;}

#footer p.left { float:left; padding-left:24px; }
#footer p.right { float:right; width:125px; }












