/*
Title:		CSS Reset Properties, gjh@umc
Version:		1.2 (1-25-08)
Nods to yahoo ui library & eric meyer.
*/
   
/* reset ----------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

html, body, div, span, 
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;}

:focus {outline: 0;}

address, caption, cite, code, dfn, th, var { 
	font-style:normal; 
	font-weight:normal;} 
	
caption, th {text-align:left;}

table {
	border-collapse: collapse;
	border-spacing: 0;}

ul {list-style: none;}

blockquote, q {quotes: none;}
	
/* Additional */
form label {cursor: pointer;}
fieldset {border: none;}
abbr, acronymn {text-decoration: none; border:0;	speak: spell-out;}

.clear {clear: both;}
.hide, hr {display: none;}